@font-face {
  font-family: kimberley;
  src: url("../fonts/kimberley bl.ttf"); }

@font-face {
  font-family: EurostileStandard;
  src: url("../fonts/EurostileLTStd.otf"); }

@font-face {
  font-family: EurostileStandardBold;
  src: url("../fonts/EurostileLTStd-Bold.otf"); }

@font-face {
  font-family: EurostileStandardOblique;
  src: url("../fonts/EurostileLTStd-Oblique.otf"); }

@font-face {
  font-family: EurostileStandardBoldOblique;
  src: url("../fonts/EurostileLTStd-BoldOblique.otf"); }

@font-face {
  font-family: BankGothicMediumBT;
  src: url("../fonts/Bank Gothic Medium BT.ttf"); }

@font-face {
  font-family: BankGothicHD;
  src: url("../fonts/bankgthd.ttf"); }

body {
  background-color: #202020;
  font-family: EurostileStandard;
  overflow-x: hidden; }

button {
  font-family: EurostileStandard; }

strong {
  font-family: EurostileStandardBold;
  font-weight: normal; }

[tooltip]:before {
  position: absolute;
  content: attr(tooltip);
  opacity: 0; }

[tooltip]:hover:before {
  opacity: 1; }

em {
  font-family: EurostileStandardOblique;
  font-style: normal; }

strong em, em strong {
  font-family: EurostileStandardBoldOblique;
  font-style: normal;
  font-weight: normal; }

.flavor_text {
  display: none; }

.xwing-card-browser .flavor_text {
  display: unset; }

.ship-container > .row-fluid {
  padding: 10px 0px; }

.card-stat, .info-data.info-skill, .info-data.info-engagement, .info-data.info-attack, .info-data.info-energy, .info-data.info-agility, .info-data.info-hull, .info-data.info-shields, .info-data.info-force, .info-data.info-charge, .info-maneuvers table > tbody > tr > td:first-child {
  font-family: kimberley;
  font-size: 1.5em; }

.info-data.info-skill, .info-data.info-engagement {
  color: #CD6D2D; }

.info-data-red {
  color: #EF232B; }

.card-icon, i.xwing-miniatures-font-attack, i.xwing-miniatures-font-attack-turret, i.xwing-miniatures-font-attack-frontback, i.xwing-miniatures-font-attack-180, i.header-attack, i.header-energy, i.header-agility, i.header-hull, i.header-shield, i.header-force, i.header-charge {
  background: black;
  border-radius: 50%;
  padding: 2px;
  font-weight: normal; }

.info-upgrades {
  cellspacing: 3px; }

td.info-header {
  padding: 3px; }

i.xwing-miniatures-font-focus {
  font-size: 8px; }

i.xwing-miniatures-font-rebel, i.xwing-miniatures-font-empire, i.xwing-miniatures-font-scum, i.xwing-miniatures-font-rebel-outline, i.xwing-miniatures-font-firstorder, i.xwing-miniatures-font-republic, i.xwing-miniatures-font-separatists {
  font-size: 2.0em !important; }

i.xwing-miniatures-font-attack, i.xwing-miniatures-font-attack-turret, i.xwing-miniatures-font-attack-frontback, i.xwing-miniatures-font-attack-180 {
  color: #EF232B; }

i.header-attack {
  color: #EF232B; }

i.xwing-miniatures-font-frontarc, i.xwing-miniatures-font-reararc, i.xwing-miniatures-font-bullseyearc, i.xwing-miniatures-font-fullfrontarc {
  padding-left: 6px;
  padding-right: 6px; }

i.xwing-miniatures-font-singleturretarc, i.xwing-miniatures-font-doubleturretarc {
  padding-left: 9px;
  padding-right: 10px; }

i.xwing-miniatures-font-rangebonusindicator {
  font-size: 1.1em; }

i.header-energy {
  color: #C7B5E2;
  padding-left: 5px;
  padding-right: 5px; }

i.header-agility {
  color: #6BBE44;
  padding-left: 5px;
  padding-right: 4px; }

i.header-hull {
  color: #B6B335;
  padding-left: 7px;
  padding-right: 7px; }

i.header-shield {
  color: #7ED3E5;
  padding-left: 6px;
  padding-right: 6.5px;
  padding-bottom: 2px; }

i.header-force {
  color: #9D899D;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px; }

i.header-charge {
  color: #C2B230;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 3px; }

i.header-range {
  vertical-align: middle;
  padding: 0px 3px;
  background-color: black;
  color: #EF232B; }

.info-data.info-attack {
  color: #EF232B; }

.info-data.info-energy {
  color: #C7B5E2; }

.info-data.info-agility {
  color: #6BBE44; }

.info-data.info-hull {
  color: #B6B335; }

.info-data.info-shields {
  color: #7ED3E5;
  padding: 2px; }

.info-data.info-force {
  color: #9D899D; }

.info-data.info-charge {
  color: #C2B230; }

r {
  color: #EF232B; }

f {
  color: #9D899D; }

.info-maneuvers table {
  table-layout: fixed;
  width: 100%;
  max-width: 300px; }

.info-maneuvers table > tbody > tr > td {
  border: 2px solid #d6c9d2; }

.info-maneuvers table > tbody > tr > td:first-child {
  color: white;
  text-align: center;
  padding: 3px;
  background-color: #888888;
  background-image: linear-gradient(rgba(45, 45, 45, 0.2) 50%, transparent 50%, transparent);
  background-size: 5px 5px; }

.info-maneuvers table > tbody > tr > td ~ td {
  background-color: #a29199; }

.info-name {
  font-family: BankGothicHD;
  font-size: 1.5em; }

.info-solitary {
  font-family: BankGothicHD;
  font-size: 1em; }

.info-type, .info-data.info-sources {
  font-family: BankGothicHD;
  font-size: 1.2em; }

.info-collection {
  font-family: BankGothicHD;
  font-style: italic; }

.info-well {
  color: black;
  margin-top: 10px; }

.info-well table > tbody > tr > td:first-child {
  font-weight: bold;
  vertical-align: top;
  padding-right: 5px; }

.info-text {
  margin-top: 15px; }

.squad-name-container {
  padding-top: 5px;
  font-size: 1.2em; }

.display-name {
  cursor: pointer; }

ul.squad-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.points-display-container {
  font-size: 1.2em;
  padding-top: 5px;
  text-align: center; }

.points-display-container span {
  padding: 5px 0px; }

.modal {
  color: black; }

.icon {
  background-repeat: no-repeat;
  vertical-align: middle; }

div.tab-content {
  overflow: visible; }

.squad-list > li:hover {
  background-color: #ccc; }

select.card-selector {
  width: 100%; }

.fancy-list .info-data {
  vertical-align: middle;
  -webkit-text-stroke: 0.5px black; }

.simple-list {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1.25em; }
  .simple-list table {
    width: 100%; }
  .simple-list .name {
    font-style: oblique; }
  .simple-list .points {
    text-align: right; }
  .simple-list .simple-pilot .name {
    font-weight: bold; }
  .simple-list .simple-addon .name {
    padding-left: 20px; }
  .simple-list .simple-ship-total {
    font-weight: bold;
    text-align: right; }

ul.nav li.dropdown ul.dropdown-menu li {
  color: #333;
  padding: 1px 5px;
  cursor: pointer; }

ul.nav li.dropdown ul.dropdown-menu li:hover {
  color: white;
  background-color: #333; }

input[type=number] {
  width: 3em; }

input[type=search].card-search-text {
  width: 90%;
  min-width: 100px;
  max-width: 230px; }

.advanced-search-selection {
  width: 90%;
  min-width: 100px;
  max-width: 230px; }

.force {
  color: #9D899D; }

.red {
  color: #EF232B; }

.squad-notes {
  height: 8em;
  width: 100%;
  font-family: EurostileStandard; }

.content-warning {
  color: white;
  font-size: 0.75em; }

.game-type-selector {
  width: 8em; }

.collection-content .row:hover {
  background-color: lightgray; }

.collection-status {
  color: green; }

.xwing-card-browser .result-not-in-collection {
  color: #a00; }

.misc-settings-infoline {
  color: green; }

.select2-results .select2-result-not-in-collection {
  color: #a00; }

.select2-results .select2-disabled {
  color: gray;
  background-color: lightgray; }

.card-restriction {
  font-style: italic;
  font-variant: small-caps; }

li.squad-summary {
  cursor: pointer; }

.nav-tabs a {
  color: black; }

.advanced-search-container {
  color: black; }

.advanced-search-label {
  display: inline;
  margin: 0 10px 0 0; }

.advanced-search-checkbox {
  margin: 0; }

.show-advanced-search {
  margin-bottom: 10px; }

.search-container {
  margin: 3px; }

.card-search-container {
  color: black; }

.nav-tabs > .active > a,
.nav-tabs > .active > a:focus,
.nav-tabs > .active > a:hover {
  background-color: lightgray; }

.collection-inventory-content ul {
  list-style-type: none; }

svg > g.maneuver.backwards {
  transform: translate(200px, 200px) rotate(180deg); }
